#controls {
    position:absolute;
    margin: 1vh;
    width: 200px;
    height: 88vh;
    background-color: rgba(1.0, 1.0, 0.0, 0.5);
    color:white;
}

#controls_subsection {
    padding: 5px;
    border: 1px solid lightgray;
}

input {
    margin-top: 5px;
}

#glcanvas {
    position:absolute;
    width: 90vw;
    height: 90vh;
}